body {
  background: #f9f7fe;
  font-family: "PT Mono", monospace;
}

main {
  padding: 30px 0;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 70%;
  border-radius: 6px;
}

.search-button {
  margin-left: 25px;
  width: 23%;
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-data {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 50px;
  font-weight: 900;
  margin: 0;
}

.current-conditions {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-conditions strong {
  color: #f65282;
}

.current-details {
  display: flex;
}

#icon {
  position: relative;
  top: -10px;
}

.current-details-value {
  font-size: 80px;
  font-weight: bold;
}

.current-details-unit {
  font-size: 28px;
  margin-top: 16px;
}

.forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.forecast-daily {
  background-color: #f9f7fe;
  border: 1px solid rgba(39, 33, 66, 0.1);
  border-radius: 6px;
  width: 600px;
  margin: 10px;
  padding: 15px 0;
}

.forecast-day {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 18px;
  line-height: 20px;
}

.forecast-icon {
  display: block;
  margin: 0 auto;
  height: 60px;
  width: 60px;
}

.forecast-temperatures {
  display: flex;
  justify-content: center;
  color: #f65282;
  text-align: center;
}

.forecast-max-temperature {
  padding: 0 5px;
  font-weight: bold;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 14px;
}

a {
  color: #885df1;
}
